@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}
html {
  background-color: #f7fafc;
}

input {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  border: 0.3px solid rgb(158, 158, 158);
  border-radius: 5px;
  padding: 6px 15px !important;
  font-weight: 700;
}
input::placeholder {
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}
input:focus {
  border-bottom: 2px solid rgb(117, 117, 117);
  outline: none;
}
textarea {
  border: 0.3px solid rgb(158, 158, 158);
  border-radius: 5px;
  padding: 6px 15px;
  resize: none !important;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
textarea:focus {
  font-family: "Work Sans", sans-serif;
  border-bottom: 2px solid rgb(117, 117, 117);
  outline: none;
}

.modules-container {
  columns: repeat(3, 1fr);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.link-user {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.link-user:hover {
  color: #727272;
}

.swiperslide {
  user-select: none;
}
.swiper-button-next,
.swiper-button-prev {
  color: #868b92;

  text-shadow: 2px 0 #868b92, -2px 0 #868b92, 0 2px #868b92, 0 -2px #868b92,
    1px 1px #868b92, -1px -1px #868b92, 1px -1px #868b92, -1px 1px #868b92;
}
.swiper-button-next {
  position: absolute;
  right: -10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 100%;
}
